<!-- add on script and soon -->
<!-- #1. back to top button vanilla.js -->
<script src="{{ site.github.url }}/assets/js/vanilla-back-to-top.min.js"></script>
<!-- #1. back to top button css -->
<style>
  #back-to-top {
    background-color: #800000ff;
    border-radius: 0;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    width: 100px;
    text-align: center;
    line-height: 30px;
    height: 30px;
  }
</style>
<!-- back to top button-->
<script>addBackToTop({
    backgroundColor: '#fff',
    innerHTML: 'Kembali ke atas',
    textColor: '#333'
  })</script>