<div class="navigation-wrapper">
  <style>
    .navigation-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo-img {
      height: 30px;
      width: auto;
      display: inline-block;
    }

    .site-name {
      display: flex;
      align-items: center;
    }

    .top-navigation {
      display: flex;
      align-items: center;
    }
  </style>

  <div class="site-name">
    {% if site.logo %}
      <a href="{{ site.github.url }}/">
        <img src="{{ site.github.url }}/images/{{ site.logo }}" alt="Site Logo" class="logo-img">
      </a>
    {% else %}
      <a href="{{ site.github.url }}/">{{ site.title }}</a>
    {% endif %}
  </div><!-- /.site-name -->

  <div class="top-navigation">
    <div class="nav-search-combined">
      <nav role="navigation" id="site-nav" class="nav">
        <ul>
          {% for link in site.data.navigation %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.github.url %}
            {% endif %}
            <li>
              <a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>

      <!-- Tambahkan Search Bar di sini -->
      <div class="searchbar-wrapper">
        {% include _searchbar.html %}
      </div>
    </div>
  </div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->