<!doctype html>
<html class="no-js" lang="en">
<head>
{% include _head.html %}
</head>
<body class="page">
{% include _navigation.html %}
{% include _back-to-top-button.html %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="page">
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}
      {% if page.share != false %}
        <hr />
        {% include _social-share.html %}
      {% endif %}
    </div><!-- /.article-wrap -->
    {% if site.owner.disqus-shortname and page.comments == true %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
{% include _scripts.html %}
</body>
</html>