<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}
        {{ page.title }} &#8211; {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    <meta name="author" content="{{ site.author }}" />
    <!-- Description -->
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="{{ "/assets/js/reveal.js/css/reveal.css" | prepend: site.github.url }}"/>
    {%if page.theme %}
      <link rel="stylesheet" href="{{ "/assets/js/reveal.js/css/theme/" | prepend: site.github.url | append: page.theme | append: '.css' }}" id="theme"/>
    {% else %}
      <link rel="stylesheet" href="{{ "/assets/js/reveal.js/css/theme/black.css" | prepend: site.github.url }}" id="theme"/>
    {% endif %}
    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="{{ "/assets/js/reveal.js/lib/css/zenburn.css" | prepend: site.github.url }}"/>
    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '{{ "/assets/js/reveal.js/css/print/pdf.css" | prepend: site.github.url }}' : '{{ "/assets/js/reveal.js/css/print/paper.css" | prepend: site.github.url }}';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
		<!-- Icon -->
    <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | prepend: site.github.url }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.github.url }}">
    <link rel="shortcut icon" href="{{ site.github.url }}/images/pengaturan/title-icon.svg">
    <link rel="shortcut icon" href="{{ site.github.url }}/images/pengaturan/title-icon.svg">
    <!--CSS mark and column-->
    <style>
		mark {
			background-color: white;
			color: crimson;
		}
		.two-column {
			 display: grid;
			 grid-template-columns: 1fr 1fr;
			 grid-gap: 10px;
			 text-align: left;
		}
		.three-column {
			 display: grid;
			 grid-template-columns: 1fr 1fr 1fr;
			 grid-gap: 10px;
			 text-align: left;
		}
		.one-half-column {
			 display: grid;
			 grid-template-columns: 1.5fr 0.5fr;
			 grid-gap: 10px;
			 text-align: left;
		}
		.paragraf-column {
 		  column-count: 2;
 		 	column-gap: 20px;
		}
		</style>    
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        {{ content }}
      </div>
    </div>
    <script src="{{ "/assets/js/reveal.js/lib/js/head.min.js" | prepend: site.github.url }}"></script>
    <script src="{{ "/assets/js/reveal.js/js/reveal.js" | prepend: site.github.url }}"></script>
    <script>
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({		
        // Autoslide
        {% if page.autoslide %}
          autoSlide: "{{ page.autoslide }}",
        {% else %}
          autoSlide: null,
        {% endif %}
        // Cursor hidden
        hideCursorTime: 5000,		
        // Control
        controls: true,
        // Slide number
        slideNumber: true,
        // Progress
        progress: true,
        // History
        history: true,
        // Layout
        center: true,
        // Transition
        disableLayout: false,
        {% if page.transition %}
          transition: '{{ page.transition }}',
        {% else %}
          transition: 'slide', // none/fade/slide/convex/concave/zoom
        {% endif %}
        // Optional reveal.js plugins
        dependencies: [
          { src: '{{ "/assets/js/reveal.js/lib/js/classList.js" | prepend: site.github.url }}', condition: function() { return !document.body.classList; } },
          { src: '{{ "/assets/js/reveal.js/plugin/markdown/marked.js" | prepend: site.github.url }}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '{{ "/assets/js/reveal.js/plugin/markdown/markdown.js" | prepend: site.github.url }}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '{{ "/assets/js/reveal.js/plugin/highlight/highlight.js" | prepend: site.github.url }}', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '{{ "/assets/js/reveal.js/plugin/zoom-js/zoom.js" | prepend: site.github.url }}', async: true },
          { src: '{{ "/assets/js/reveal.js/plugin/notes/notes.js" | prepend: site.github.url }}', async: true }
        ]
      });
    </script>
  </body>
</html>