<!doctype html>
<html class="no-js" lang="en">
<head>
  <!-- Menyisipkan metadata, CSS, dan elemen head dari partial file -->
  {% include _head.html %}

</head>

<body class="post-index">

  <!-- Navigasi utama situs -->
  {% include _navigation.html %} <!-- /#navigator -->

  <!-- Tombol kembali ke atas halaman -->
  {% include _back-to-top-button.html %} <!-- /#back button -->

  <div id="main" role="main">
    
    <!-- Sidebar untuk bio penulis -->
    <div class="article-author-side">
      {% include _author-bio.html %}
    </div> <!-- /.article-author-side -->

    <!-- Konten utama halaman -->
    <div id="index">
      {{ content }}
    </div> <!-- /#index -->

  </div> <!-- /#main -->

  <!-- Menyisipkan skrip umum dari partial file -->
  {% include _scripts.html %}

</body>
</html>